.project-container{
    max-width:1200px;
    width:70%;
    margin:auto;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 8rem;
    justify-content: center;
}

@media (max-width: 1080px){
    
    .project-container{
        width:95%;
    }

    .project-grid{
        grid-template-columns: repeat(1, 1fr);
    }

}
