:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #ffffff;
  color: #242424;

    --input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;

    --input-border-focus: #275EFE;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;

    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;
}

body{
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
  color: #242424;
}

.nav-item > .active {
  border-bottom: 1px solid #333;
}

.title{
  font-size: 2rem;
}

@media (max-width:1080px){
  .title{
    font-size: 1.5rem;
  }
}
